[2020-05-05 11:51] jayehernandez opened #1 "Add a Language 🌎"
Hey there!

Launched this extension with only five languages:
- 🇩🇪 German
- 🇫🇷 French
- 🇪🇸 Spanish
- 🇯🇵 Japanese
- 🇰🇷 Korean

I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md).

Here are some suggested languages you can add:
- 🇮🇳 Hindi
- 🇮🇹 Italian
- 🇷🇺 Russian

Comment here if you would like to work on adding a ne

[2020-05-05 11:55] Kvaibhav01 commented on #1
Hey @jayehernandez, I would like to work on the Hindi translation.

[2020-05-05 13:36] jayehernandez opened #2 "🌍 Add Hindi Language"
Add Hindi as a supported language.

I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md).

Please go through the checklist so that you won’t miss anything!

[2020-05-05 13:39] jayehernandez commented on #1
Hey @Kvaibhav01, thank you for your interest in contributing. Added a new issue for this [here](https://github.com/jayehernandez/letra-extension/issues/2).

Do leave a comment there so I can assign the issue to you! :)

[2020-05-05 13:45] Kvaibhav01 commented on #2
Hello, I would like to work on this issue 😁

[2020-05-05 14:02] jayehernandez commented on #2
Assigned it to you, @Kvaibhav01! 😁

[2020-05-13 06:54] #2 closed

[2020-05-17 04:09] jayehernandez opened #13 "✍️ Add a Quote - Great for Beginners!"
Is it your first time contributing to open source? First time coding something? This issue is perfect for you! 🥳

Letra features a small quote **about learning a new language** along with the word for the day, as shown here:
![Screenshot](https://github.com/jayehernandez/letra-extension/blob/master/docs/screenshots/main_screenshot.png?raw=true)

This is randomized everyday so that people can see a

[2020-05-17 06:46] imanishbarnwal commented on #13
Hello, @jayehernandez I want to work on this issue. How many quotes do I need to add here?

[2020-05-17 14:31] saurav-jaat commented on #1
hey @jayehernandez  I want to work on this issue.This is my first time contribution.Can you please help me out?I want to add English Language.

[2020-05-18 01:57] jayehernandez commented on #13
@imanishbarnwal, no limit in the number of quotes you can add. Thanks for your PR! I'll be reviewing it in a bit.

[2020-05-18 07:03] Kingz2020 commented on #1
Hi, I'd like to contribute to this project to. I am a first issuer.

[2020-05-18 11:33] jayehernandez commented on #1
Hey @saurav-jaat! Since the words are usually translated from one language to English right now, we can't support English as of the moment, sorry. Do you have any other language in mind?

Alternatively, you can check out issue #13 which is an easy way to help out for first time contributors!

[2020-05-18 11:34] jayehernandez commented on #1
Hi @Kingz2020, what language do you want to add? Alternatively you can check out issue #13 which has the guide you need for a first time contributor!

[2020-05-18 12:28] fluorspar20 commented on #1
Hey @jayehernandez , I would like to work and contribute on the Russian translation!

[2020-05-18 12:44] saurav-jaat commented on #1
Hey @jayehernandez,First of all thank you so much!! I have created my first PR with your help.Now,I want to add a french language.

[2020-05-18 14:06] jayehernandez commented on #1
Hey @fluorspar20 thanks for showing interest in adding a new language, just want to ask if you speak Russian?

Saw your quote PR! Please wait for review on that. Just want to ask if you speak Italian?

[2020-05-18 14:22] saurav-jaat commented on #1
@jayehernandez No i don't speak italian.

[2020-05-18 14:30] jayehernandez commented on #1
@saurav-jaat sorry! Want to get people who speak the language so the words are accurate. Hope you understand.

If you want to contribute any other way, you can download the extension and suggest a feature you see fit!

[2020-05-18 14:38] fluorspar20 commented on #1
No I don't speak Russian but I could help by translating each word into Russian using google translate if you are fine with it.

[2020-05-18 14:55] jayehernandez commented on #1
@fluorspar20 sorry! Want to get people who speak the language so the words are accurate. Hope you understand.

If you want to contribute any other way, you can download the extension and suggest a feature you see fit!

[2020-05-18 14:57] fluorspar20 commented on #1
Alright! Sounds fair. Thanks.

[2020-05-20 14:24] claire-thompson commented on #13
Hi! I’m a beginner interested in contributing a quote. I’ve read over the contributing guidelines and new quote documentation and am excited to get started. I’d welcome any additional pointers you have on how to proceed. Thank you!

[2020-05-20 14:32] jayehernandez commented on #13
Hi @claire-thompson! Please to meet you :) Hope you can follow the checklist in the new quote documentation when submitting a pull request. Looking forward to your contribution!

[2020-05-22 00:21] tbarland77 opened #40 ".Env Issue While Following Installation Guide"
Hey @jayehernandez first thanks for accepting my quote PR that was my first real contribution to an open source project! Anyway, I saw you had added an installation guide (great guide btw!) for Letra and I decided to follow along. After finishing the guide, I kept getting an error locally. Upon adding some console logs, I noticed my env keys were returning undefined. After reading a post on stack-

[2020-05-22 11:04] jayehernandez commented on #40
Thank you for letting me know about this @tbarland77!! 🙏🏻

Glad the guide helped you! I'll be updating the guide to remove the double quotes. 😄

[2020-05-22 11:06] jayehernandez commented on #40
Just removed it. Thank you again, appreciate it!

[2020-05-22 11:06] #40 closed

[2020-05-23 00:24] tbarland77 opened #42 "Update Date & Time Without Refresh"
Hi @jayehernandez not to open another issue so soon, :sweat_smile: but I saw a card here: https://github.com/jayehernandez/letra-extension/projects/1#card-38630812 for updating the date and time without having to do a refresh and was wondering if it's not currently being worked on could I pick it up? I'm not super familiar with Vue although I have worked with it a little bit in the past.  Anyway,

[2020-05-23 01:03] chicoboymax commented on #1
Hi, thank you for this amazing extension. I would like to work on an Arabic translation.

[2020-05-23 06:11] jayehernandez commented on #1
Hey @chicoboymax, thanks! Just want to ask if you speak Arabic? :)

[2020-05-23 06:16] jayehernandez commented on #42
Hey @tbarland77 totally fine! Thank you for looking at the projects.

This card is reserved for now, so sorry for not making it clear but I'll let you know if ever it is free. Also added some other improvements that might interest you. I can help out if ever you decide to work on one and get stuck with something.

[2020-05-23 06:29] seryafarma commented on #1
Can I also contribute for Indonesian language? Indonesia is my mother tongue :indonesia:

[2020-05-23 06:33] seryafarma opened #45 "Broken Link for Contributing Guidelines"
For adding new quotes as shown in #13
The link to the *Contributing Guidelines* is broken. It results in a 404 page.

[2020-05-23 06:33] seryafarma commented on #45
https://github.com/jayehernandez/letra-extension/blob/improved-docs/docs/how_to_contribute.md

[2020-05-23 09:51] chicoboymax commented on #1
No I don't and just saw in other comments that you wanted people who speak the language !

[2020-05-23 14:02] jayehernandez commented on #45
Thank you for flagging this @seryafarma!! Just deployed a fix for it :)

[2020-05-23 14:02] #45 closed

[2020-05-23 14:04] jayehernandez commented on #1
Thanks for understanding @chicoboymax! If you want, you can click [here](https://github.com/jayehernandez/letra-extension/projects/1) to work on some pending features.

[2020-05-23 14:06] jayehernandez opened #47 "🌎 Add Indonesian Language"
Add Indonesian as a supported language.

I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md).

Please go through the checklist so that you won’t miss anything!

[2020-05-23 14:07] jayehernandez commented on #1
Hi @seryafarma, yes sure! Just put up a new issue for this #47, hope you can comment there so I can assign it to you. Thank you so much for contributing 🙏🏻

[2020-05-23 14:22] tbarland77 commented on #42
No problem! I'd love to be able to contribute more and figured looking at the projects tab would be a good place to start.

Okay, that one is reserved got it. I also see that is the only one now with a reserved tag. So anyone can work on the other ones right? I think I could try working on adding the contribute to GitHub link inside the options menu one. Although I have a question or two about tha

[2020-05-23 14:49] jayehernandez commented on #42
Confirming that the others are free for all!

WIth the contribute to Github link, I was thinking of adding a "Contribute to Github" link inside `Options.vue` (the place where you choose the languages) for now. Here's something quick I created on Figma to help visualize:
<img width="256" alt="Screen Shot 2020-05-23 at 10 42 52 PM" src="https://user-images.githubusercontent.com/13959651/82733491-c8c

[2020-05-23 14:53] seryafarma commented on #1
Sure! Picking it up right away. 💪

[2020-05-23 15:08] tbarland77 commented on #42
This helps out a lot thanks for the visual! Yeah, I can see not wanting this on the main page since it's not really something that would add much value to non-developer users. As far as suggestions, I don't think I have any... Having it right below the save button seems like a good spot to me. Anyway, I would definitely be interested in picking this up, and having the issue assigned to me. Looks l

[2020-05-23 15:23] jayehernandez opened #48 "Add Contribute on Github link inside the Options Menu"
Add a "Contribute on Github" link right below the Save button of the Options Menu

<img width="256" alt="Screen Shot 2020-05-23 at 10 42 52 PM" src="https://user-images.githubusercontent.com/13959651/82734612-a9342c00-9d4e-11ea-94cd-0d6d5c3f5fa8.png">

Discussed specs in Issue #42

[2020-05-23 15:26] jayehernandez commented on #42
Great, really appreciate it! I added a new issue for this #48, hope you can comment there so I can assign it to you.

Also yes to learning some Pug templating! Just occurred to me that I haven't really mentioned that anywhere, thank you for the reminder 😅Pug's really great for lazy people like me haha, I hope you have fun using it.

[2020-05-23 15:31] tbarland77 commented on #42
No problem! Glad to help out more! Awesome, I'll add a comment over there too. I also saved the above visual already if we want to just close this issue? Looking forward to learning a bit of it for sure. Only tempting I've really worked with before was Mustache. Haha, if It's good for lazy people I'm sure I'll love it too! :satisfied:

[2020-05-23 15:32] tbarland77 commented on #48
Hey @jayehernandez as mentioned in the other thread / issue I'd love to pick this up! Can you assign it to me?

[2020-05-23 15:37] jayehernandez commented on #48
Assigned it to you @tbarland77!! Good luck 🎉

[2020-05-23 15:39] jayehernandez commented on #42
Ooohh I have to try Mustache! I'll be closing this issue now, I'll also add the visual in the new issue just for documentation. Thank you so much!!

[2020-05-23 15:39] #42 closed

[2020-05-23 15:44] tbarland77 commented on #48
Thanks! I'll reach out if I run into any issues or questions along the way too.

[2020-05-23 20:35] seryafarma commented on #47
Hey, while translating I notice this checkmark:
https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md

What does this mean?
is it duplicate in the word?

For example these two words are having the same Indonesian translation:
kongres | Congress
kongres | congressional

If so, can I easily spot them later on? I found quite a few since in Indonesian the same word can have

[2020-05-24 01:15] jayehernandez commented on #47
Hey @seryafarma, Apologies for the unclear instructions, words with the same translation are fine to include, no need to remove these.

What I was referring to for the duplicates is if for example the translation is:
`Congress => Congress`

which makes no sense to include if ever. Hope this helps in clarifying!

[2020-05-24 03:49] jayehernandez opened #52 "🌏 Add Filipino Language"
Responsive Voice supports Filipino as a language!!

Creating the branch `feature/filipino-language` for this 🙌🏻

Base file for filipino words: https://docs.google.com/spreadsheets/d/1SryOwlrrzBPsUUbMRPwIomqnSPgNpw9Xf1CqOL7VJqM/edit#gid=0

Here's the [guide](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md) as well for adding new language.

[2020-05-24 08:19] danaredena commented on #52
Game 💛

[2020-05-24 09:08] kimberrypi opened #54 "add romanization below the word"
**Is your feature request related to a problem? Please describe.**
The characters for Chinese, Japanese, and Korean are challenging to associate with their English translations.

**Describe the solution you'd like**
<img width="1287" alt="Screen Shot 2020-05-24 at 5 22 38 PM" src="https://user-images.githubusercontent.com/20434382/82750513-3923b580-9de3-11ea-8bb9-0435f64e5a22.png">

Add a romaniza

[2020-05-24 09:33] jayehernandez commented on #54
Hii Kim!! Thanks for starting this.

Just made a few changes with the styling but if you want to work on it go ahead!!
![image 3](https://user-images.githubusercontent.com/13959651/82750708-7b012b80-9de4-11ea-8583-e3d22a53922a.png)

[2020-05-24 12:57] TaniaMalhotra commented on #1
Hii!!
Can I work on the Hindi Female translation?

[2020-05-24 15:22] seryafarma commented on #47
[duplicates.txt](https://github.com/jayehernandez/letra-extension/files/4673799/duplicates.txt)

These are the duplicates in Indonesian language, I have removed the section from json file.
Might be good to show people how to best do this from the google sheet.

[2020-05-24 15:32] seryafarma opened #66 "New Words for every New Tab"
Hello,
How about this feature? I think it would be a nice addition.

It would be very nice when I open new tabs, I get presented with different words than the first one. Now if I open 3 tabs, I get the same three words.

[2020-05-24 15:49] jayehernandez commented on #48
Closed by #51

[2020-05-24 15:49] #48 closed

[2020-05-24 16:01] jayehernandez commented on #47
Thanks for the suggestion! I’ll be sure to note that in the documentation. Also saw your PR, reviewing it in a bit. 😁

[2020-05-24 16:04] #47 closed

[2020-05-24 16:07] jayehernandez commented on #66
Hey @seryafarma, great work on the 🇮🇩 translation!

This is actually the intended behavior. 😅 The idea behind it is that you’ll be seeing the word throughout the day, which increases the chances of you actually learning the word and memorizing it. Passive learning!

It resets every 12 AM though, so one new word per day. Hope this clarifies!

[2020-05-24 16:16] jayehernandez commented on #1
Hey @TaniaMalhotra!

Hindi is actually a supported language already. No need for a separate Female translation, however, you can revisit the translations [here](https://github.com/jayehernandez/letra-extension/blob/master/server/data/words/hindi.json) and check if you have any comments on it.

[2020-05-24 17:53] seryafarma commented on #66
Ah that is how it is? Step by step learning indeed.

[2020-05-24 17:54] seryafarma commented on #66
I will close this request then 😌

[2020-05-24 17:54] #66 closed

[2020-05-24 18:00] Kvaibhav01 opened #69 "🐛 Close the settings pane after selection"
Currently, when we select a language(s) from the settings pane and hit 'Save', it doesn't close.

What we need is a fix in which this _closes as soon as the user selects the language(s)_ or _whenever we click outside the pane_.

[2020-05-25 02:30] jayehernandez commented on #69
Thanks for opening this issue @Kvaibhav01! 💯

The behavior now is that it doesn't close so that "Saved changes!" message can be seen, alerting the user that the languages they chose were saved.

If we were to close the settings pane, how do you propose to alert the user that the changes were saved?

[2020-05-25 04:35] tbarland77 opened #79 "Unit Testing"
Hi, @jayehernandez I saw your last comment on my PR for #48 and thought I would open up a new issue for us to brainstorm about adding unit tests to Letra. First I was thinking it might be good to divide this one into two separate issues. The first issue could be to add the foundation for unit testing in Letra. This could include:

1. Adding Jest (if we decide to go with Jest) to both the client an

[2020-05-25 05:49] Kvaibhav01 commented on #69
There can be several ways:

1. The pane automatically closes _x_ seconds after the "Saved changes!" text is displayed. Typically 5 seconds.

2. We can have a short snackbar like [Snackbars in Vuetify](https://vuetifyjs.com/en/components/snackbars/#snackbars) or [`vuejs-snackbar`](https://livelybone.github.io/vue/vuejs-snackbar/) to display the message to the user.

3. [Something different...] Just

[2020-05-25 10:30] jayehernandez commented on #69
Great ideas! Leaning towards suggestion number two. Opening this issue up for anyone who would like to work on it. :)

[2020-05-25 10:45] jayehernandez commented on #79
Hey @tbarland77, thanks for initiating this!

Agree with the steps you suggested. This issue can be for setting up the testing tool of choice. I'm good with going with Jest! The docs look great and there are simple guides we can follow to add it both to the client and server. Would you be interested in doing this?

After setting up the first few tests (in another issue), we can even require this t

[2020-05-25 11:44] Kvaibhav01 commented on #69
I would like to give it a try after I finish the [automatic time refresh](https://github.com/jayehernandez/letra-extension/projects/1#card-38630812) issue.

[2020-05-25 14:18] tbarland77 commented on #79
Sure, I would love to work on this! So for this issue, it would be just adding Jest to both the client and server then adding the first few unit tests would be covered in a separate issue? I just want to make sure I'm following what the specs should be for this first issue.

Having the tests run every time someone initiates a PR would be good. That way we could help ensure nothing was accidentally

[2020-05-26 00:44] jayehernandez commented on #79
Yes, this issue will only be for adding Jest to the client and server!

[2020-05-26 00:51] jayehernandez commented on #69
Sure! I'll assign the issue to you for now!

[2020-05-26 01:25] tbarland77 commented on #79
Got it. I just wanted to confirm! I also see the issue has already been assigned to me as well. I'll start working on this soon.

[2020-05-27 12:12] Kvaibhav01 opened #90 "💻 Add toolip to icons on hover"
Currently, the icons themselves don't provide much context as to what they do. **Adding a tooltip on hover** will let the users know about each element.

Example: Hovering over the gear icon (⚙) opens up a tooltip which says "Settings".

This will be good for accessibility and can be done via [Vuetify's tooltip component](https://vuetifyjs.com/en/components/tooltips/).

[2020-05-27 14:37] jayehernandez commented on #90
Great feature idea @Kvaibhav01! 🔥 Really want this app to be as accessible and easy to use as possible.

Good to use Vuetify's tooltip as well. Would you like to take this on?

[2020-05-27 14:41] Kvaibhav01 commented on #90
[Yes](https://giphy.com/gifs/excited-yes-agree-jErnybNlfE1lm)

[2020-05-28 09:51] jayehernandez opened #95 "🐛 Long words overflow to end of screen"
I didn't really test this out for very long words. Probably not a problem with other languages but it's a good thing the language I'm learning now is German 💁🏻‍♀️

<img width="1669" alt="Screen Shot 2020-05-25 at 1 41 23 PM" src="https://user-images.githubusercontent.com/13959651/83126394-51f5d900-a10b-11ea-83dd-1d04ba168a31.png">

Best solution would probably be changing the font size depending o

[2020-05-29 10:45] #54 closed

[2020-05-29 10:45] jayehernandez commented on #54
Closed by #55

[2020-05-29 10:58] #79 closed

[2020-05-30 16:05] jkfliu commented on #1
Hi @jayehernandez, can I add a Chinese language? I'm more familiar with the Simplified version (ZH-CN or ZH-HANS), if that's OK with you?

[2020-05-31 12:03] jayehernandez opened #113 "🌏 Add Chinese Language"
Add Chinese as a supported language.

I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md). Also, if applicable, hope you can add the romanization attribute of the word.

Please go through the checklist so that you won’t miss anything!

[2020-05-31 12:05] jayehernandez commented on #1
Hi @jkfliu, sure! Good with using the Simplified version as well.

Created an issue for it here #113. Hope you can comment there so I can assign it to you.

[2020-05-31 13:26] jkfliu commented on #113
Good to take this one! :)

[2020-05-31 13:30] jkfliu commented on #113
Will submit pull request shortly to set up the language first, and see if i can figure out romanization later.

[2020-06-01 13:00] jayehernandez commented on #113
Thanks @jkfliu! Let me know when you are done with the PR :)

[2020-06-01 13:02] jayehernandez opened #116 "🐛 Update time and date automatically without refreshing"
Time and date does not automatically update. You have to open a new tab to check the latest time.

[2020-06-01 13:05] #116 closed

[2020-06-01 14:37] jkfliu commented on #113
Submitted, pls have a look.

Currently working on romanization, hope to complete and test tonight!

[2020-06-02 01:14] tbarland77 commented on #95
I see this one has been sitting for a bit. Mind if I work on it @jayehernandez? I also noticed that the audio button seems to move on top of the word if it's really long. Would that be considered a separate issue or would we expect that to no longer be an issue after this is resolved? I did see in the chrome dev tools if I take the font-size down to 7vw that it seems to fix the audio button placem

[2020-06-02 13:23] jkfliu opened #119 "Clean-up of translations for "true" and "false" in various JSON files"
Something I noticed that happens during the conversion from Google sheets to JSON - the "true" and "false" values go awry (do not have double quotes), this doesn't impact the translations as such but if you're a bit OCD, should be cleaned up :)

Also the Japanese JSON entries for true/false should be fixed/removed.

$ egrep -i "true|false" *.json
chinese-simplified.json:        "translation": "fal

[2020-06-02 13:23] jkfliu commented on #119
Let me know if you want me to work on this - should be a quick fix.

[2020-06-02 14:23] jayehernandez commented on #113
Closed by #114

[2020-06-02 14:23] #113 closed

[2020-06-02 14:34] jayehernandez commented on #119
Thanks for noticing this, didn't pay much attention to this 😅 Good with fixing it, assigning you to this issue.

I fixed the Google Sheets template as well to avoid future issues with this.

[2020-06-02 14:37] jayehernandez commented on #95
Sure, assigning you to this issue @tbarland77! I think the audio button should be fixed in this issue as well. Maybe we can add a condition to change the font-size if the word is beyond a certain length? I tried changing the font-size to 7vw but it's a bit small for shorter words. Let me know what you think.

[2020-06-02 14:43] jayehernandez opened #124 "🧪 Add Unit Test to Files with Jest"
We've recently added unit testing using Jest c/o @tbarland77 (thank you!).

You can choose to add an issue to either the `server` files or `client` files.

No need to wait for you to be assigned to this issue, just reference it when you make a PR. Please make sure that the file you are about to add a test to does **not** have a pending PR or existing test in the `master` branch.

Guidelines for te

[2020-06-02 14:49] jayehernandez opened #125 "🧪 Testing Documentation and Github Action"
This issue is created to add documentation and guidelines for testing with Jest.

References @tbarland77's Unit Testing Issue #79

To do for this includes:
- [ ] Make guideline for creating and running tests
- [ ] Add Jest Github Action which should run in every PR

[2020-06-02 14:50] jayehernandez commented on #125
Hoping to finish everything in this issue within the week, stay tuned 👀

[2020-06-02 15:09] jkfliu commented on #119
PR submitted :)

[2020-06-02 15:39] jayehernandez commented on #119
Closed by #126

[2020-06-02 15:39] #119 closed

[2020-06-02 23:43] tbarland77 commented on #95
Thanks! Yeah, I was thinking maybe we could also let the word go to a second line, but I'm not sure if that would fix the audio button issue or not. Using a computed property to change the font-size based on the length of the word is probably the way to go. Unless maybe there is a way to dynamically change font-size with scss? I might look into that to see if it's possible. That makes sense since

[2020-06-02 23:48] tbarland77 commented on #125
Glad to see some movement on the testing documentation! Let me know if there's anything I could help with. :thumbsup:

[2020-06-03 10:21] cassiocardoso commented on #1
Hi @jayehernandez, thanks for the amazing extension! Is there anyone working on adding Brazilian Portuguese? I would love to help with that (it's my native language 😄 ).

[2020-06-03 12:40] jayehernandez commented on #125
Thanks @tbarland77. Trying to study it now but I can't seem to run the test command (`npm run test`). It displays this error:

[code]

Just want to ask if a similar error appeared when you were installing these? Tried it with both server and client and the same issue appears.

[2020-06-03 22:18] tbarland77 commented on #125
Hey, @jayehernandez I can't say I've seen that error. I would have called it out in my earlier PR if I was seeing that. I just tried it again on my end in the client:

![image](https://user-images.githubusercontent.com/15313520/83694626-61bb6480-a5c6-11ea-85e3-0680b3ea7206.png)

It appears to still be working for me minus the deprecation warning. I'll try deleting my node modules and do a fresh np

[2020-06-03 23:14] tbarland77 commented on #125
Well, I tried various things but did have much luck. I was not able to reproduce the error even doing a clean npm install. There are only two things I can think of here:

1. Something weird happened with your node modules and maybe doing a fresh npm install will resolve the problem

2. Somehow the jest config is incorrect although if that's the case it makes no sense to me why it would work only f

[2020-06-04 09:30] jayehernandez commented on #125
Got it. Yeah, I assumed that it's really only happening with my machine, but just wanted to be sure. I tried doing a fresh `npm install` after deleting my `node_modules` folder but that didn't seem to work.

However, after some searching, I found a similar issue over a community in [Gitter](https://gitter.im/qawolf/community?at=5eb53d5d31a6d25d7cb87cfd) which suggested an upgrade of `node`. Upgrad

[2020-06-04 14:56] jayehernandez opened #131 "📃 Github Actions for Linting"
Started with Testing Documentation #125, but there's still a whole lot of under construction 🚧 and coming soon 🔜 popping up here and there.

Will cover all of it here!
- [ ] ⚙️ Add Github Actions for ESLint and Prettier (overdue 😅)

EDIT: Will transfer these two to another issue:
- [ ] 📝 Contributing Guidelines: Local Installation
- [ ] 📝 Edit translations from existing languages guide

[2020-06-04 17:35] parth298 commented on #1
Thanks for the wonderful extension! You are doing well. I'm from India. I'm really New here. <a href="https://letsgetstartaffiliate.com/freelancing-work-market-presssoo/" rel="dofollow">#3</a>

[2020-06-04 17:52] tobias1012 commented on #1
I'd like to add Danish as a language

[2020-06-04 19:24] matelecom123 opened #133 "Hi sir how ryou"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-04 19:30] goldfinger18kt opened #134 "Touch screen takes alot of touching ...to get workink done ...slows me down ..i would like the drop down not to cover my key board...on facial rec. make smother work and faster...."
[NA](NA) **Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consider

[2020-06-04 20:24] Philippians-4-13 commented on #1
I speak spanish and korean.
Would that help? I'm new at this.

[2020-06-04 20:35] Brummaha commented on #1
Hi @jayehernandez i speak Tamil, any good for you?!

[2020-06-04 21:48] notorious-sobriety commented on #1
Hi @jayehernandez, do you still need Russian translation?  Russian is my native language.

[2020-06-04 22:10] notorious-sobriety opened #138 "No way to select a language?"
**Is your feature request related to a problem? Please describe.**
How do I actually select a language I'm going to passively learn? I installed the extension and right now when I open a new tab it says "oops". When I go to to settings it doesn't have any inputs to select a language.

**Describe the solution you'd like**
I'd like a selectbox in the settings menu that would allow me to select a lan

[2020-06-04 22:19] tbarland77 commented on #125
Interesting. I had not even considered that we might just have different node versions. :sweat_smile: That makes a lot of sense though especially since I had installed the latest version of Jest for both the client and server. Looking at my version of node I am on version 12 as well. Anyway, glad to hear you were able to resolve the problem and document it as well!

[2020-06-04 22:54] thor174 opened #140 "Ss"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-04 22:54] thor174 commented on #140
Aa

[2020-06-04 23:55] jayehernandez commented on #138
Hey @notorious-sobriety, had a problem with the latest deploy to the Chrome web store. I fixed it already but that version is still pending approval from Chrome.

Hoping it gets accepted within the day. I’ll let you know when it does!

[2020-06-05 01:30] Mohamad124161 opened #141 "Screen mirroing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-05 01:36] notorious-sobriety commented on #138
Oh cool, thank you, I will wait for that!

[2020-06-05 01:37] Mohamad124161 opened #142 "Screen mirroing"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-05 01:40] Mohamad124161 opened #143 "Scrrr"
#82 screen **Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2020-06-05 01:48] pollyj commented on #90
Hi @jayehernandez! I'd like to work on this issue if that's okay? :)

[2020-06-05 05:08] sakshi006 commented on #1
Hey @jayehernandez, I would like to work on the Hindi translation. This is my first contribution.Can you please help me out?

[2020-06-05 05:18] sakshi006 commented on #13
Hi  @jayehernandez, i am a new contributor here. I'd like to work on this issue.

[2020-06-05 06:38] Kvaibhav01 commented on #133
Hi @matelecom123, the issue isn't clear. Looks like you haven't added the required information. Please update both your issue title and description.

[2020-06-05 06:47] Kvaibhav01 commented on #1
Hi @sakshi006, thanks for the interest but as you see the Hindi translation is already done. You can check out [other issues](https://github.com/jayehernandez/letra-extension/issues) to work on!

[2020-06-05 06:49] Kvaibhav01 commented on #13
Hey @sakshi006, you can take a look at the issue description to start!

[2020-06-05 10:19] jayehernandez commented on #133
Looks like a bot issue -- closing this.

[2020-06-05 10:19] #133 closed

[2020-06-05 10:20] jayehernandez commented on #142
Looks like a bot issue, closing this. Please let me know if I'm wrong though.

[2020-06-05 10:20] #142 closed

[2020-06-05 10:21] jayehernandez commented on #134
Looks like a bot issue, closing this. Please let me know if I'm wrong though.

[2020-06-05 10:21] #134 closed

[2020-06-05 10:23] jayehernandez commented on #140
Looks like a bot issue, closing this. Please let me know if I'm wrong though.

[2020-06-05 10:23] #140 closed

[2020-06-05 10:23] jayehernandez commented on #143
Looks like a bot issue, closing this. Please let me know if I'm wrong though.

[2020-06-05 10:23] #143 closed

[2020-06-05 10:24] jayehernandez commented on #141
Looks like a bot issue, closing this. Please let me know if I'm wrong though.

[2020-06-05 10:24] #141 closed

[2020-06-05 10:24] jayehernandez commented on #138
Hi there! Chrome accepted the new version, please update to `v1.0.8`, thank you. :)

[2020-06-05 10:24] #138 closed

[2020-06-05 10:25] jayehernandez commented on #90
Hey @pollyj, sorry this issue is already assigned to @Kvaibhav01!

Hope you can check out the other issues (or open a new one!) :)

[2020-06-05 10:32] #125 closed

[2020-06-05 10:50] jayehernandez commented on #125
I've just merged #130, thank you for the help @tbarland77. Please let me know if I missed anything.

[2020-06-05 11:02] n3twk commented on #1
Hi, I will work on Arabic, i'm a native Arab speaker.

[2020-06-05 11:44] jayehernandez commented on #95
Closed by #129

[2020-06-05 11:44] #95 closed

[2020-06-05 12:07] jayehernandez opened #152 "🌏 Add Brazilian Portuguese Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md).

Please go through the checklist so that you won’t miss anything!

[2020-06-05 12:10] jayehernandez commented on #152
Just added an issue to document your PR (#136) @kaycmendes!

Will close this right away.

[2020-06-05 12:10] #152 closed

[2020-06-05 12:12] jayehernandez commented on #1
Hi @cassiocardoso, thank you! 🙏🏻 So sorry for the late revert, but Brazilian Portuguese was already added in #152. It wasn't documented here though. But you can check it out and see if the translations are correct!

[2020-06-05 12:14] jayehernandez opened #153 "🌏 Add Danish Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md).

Please go through the checklist so that you won’t miss anything!

[2020-06-05 12:16] jayehernandez commented on #1
Hey @tobias1012, sure! Created a new issue for this #153, please comment there so I can assign it to you.

[2020-06-05 12:24] jayehernandez commented on #1
Hi @Philippians-4-13, this is already supported but you can check the words in [spanish.json](https://github.com/jayehernandez/letra-extension/blob/master/server/data/words/spanish.json) and [korean.json](https://github.com/jayehernandez/letra-extension/blob/master/server/data/words/korean.json) and see if the translations are correct. You can also add **romanization** for Korean. Let me know if y

[2020-06-05 12:25] jayehernandez opened #154 "🌍 Add Tamil Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md). Also, if applicable, hope you can add the romanization attribute of the word.

Please go through the checklist so that you won’t miss anything!

References #1

[2020-06-05 12:29] jayehernandez opened #155 "🌏 Add Russian Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md). Also, if applicable, hope you can add the romanization attribute of the word.

Please go through the checklist so that you won’t miss anything!

References #1

[2020-06-05 12:30] jayehernandez opened #156 "🌏 Add Arabic Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md). Also, if applicable, hope you can add the romanization attribute of the word.

Please go through the checklist so that you won’t miss anything!

Refereences #1

[2020-06-05 12:30] jayehernandez commented on #1
Hi @Brummaha, yes! You can work on the Tamil translation. Created an issue for this #154, please comment there so I can assign it to you.

Hi @notorious-sobriety, it's not yet supported so you can take this on! Created an issue for this #155, please comment there so I can assign it to you. :)

Hi @n3twk, sure! #156 is the issue I created for this, please comment there so I can assign it to you.

[2020-06-05 16:17] Philippians-4-13 commented on #1
I can help you with the romanization for Korean!
I'll try my best but it would be nice if you can help me thou. I'm a newbie in Github.

[2020-06-05 18:05] tobias1012 commented on #153
Great, i'll get to work on the language translation

[2020-06-05 18:36] n3twk commented on #156
Thank you @jayehernandez , I'm working on it

[2020-06-05 20:59] notorious-sobriety commented on #155
I make a branch for my changes and when I'm done I make a pull request, right?

[2020-06-05 21:11] notorious-sobriety commented on #155
Also do I set the "romanization" in languages.json to "true"? I see how it is done in the actual language files but for now none of the languages in languages.json have a romanization property so I'm unsure what values are appropriate.

[2020-06-05 23:20] jayehernandez commented on #155
Yes this is correct! The process is the same as when you added a quote.

No work in the `languges.json` file is needed for romanization, but you can check out `chinese-simplified.json` for an example of this.

[2020-06-05 23:24] jayehernandez opened #157 "🌏 Add Romanization for Korean"
Please follow the [Contributing Guidelines](https://github.com/jayehernandez/letra-extension/blob/master/docs/how_to_contribute.md) to see how you can fork this repo.

For this, since there is already a file in `server/data/words/korean.json`, you will only need to fill in the `romanization` attribute of each one.

Do let me know if you get stuck on any step.

[2020-06-05 23:25] jayehernandez commented on #1
Opened a new issue for you #157. Please comment there so I can assign it to you. We can also talk there about how we’ll go through this.

[2020-06-05 23:26] jayehernandez commented on #1
@Philippians-4-13 Opened a new issue for you #157. Please comment there so I can assign it to you. We can also talk there about how we’ll go through this.

[2020-06-05 23:31] notorious-sobriety commented on #155
Oh ok. I asked because it was mentioned in the guide:

Not adding anything is easy :-)

[2020-06-05 23:36] Philippians-4-13 commented on #157
@jayehernandez I've got a question.

Do I have to do this on korean.json? I've been doing my stuff on the link you pass me.

[2020-06-05 23:38] Philippians-4-13 commented on #157
I've pressed edit the fork and i did it there. Is that ok?

[2020-06-05 23:38] tbarland77 commented on #125
Everything sounded pretty solid to me. We should probably just remove my example test in the server too once more tests are added. I only really added that to verify that jest was working correctly. Maybe I'll work on adding a few tests to both the client and server over the weekend so we can have some more useful examples.

[2020-06-05 23:42] Philippians-4-13 commented on #157
Oh, now i've seen that doesn't work...

[2020-06-06 00:54] jayehernandez commented on #157
Hey @Philippians-4-13 just saw your PR commenting there now!

[2020-06-06 00:57] jayehernandez commented on #155
OH haha. Fixing that part in the guide now. Sorry!

[2020-06-09 09:57] jayehernandez commented on #156
Closed by #164 164

[2020-06-09 09:57] #156 closed

[2020-06-09 12:35] pollyj commented on #90
@jayehernandez Got it, sorry! I'll check back (:

[2020-06-12 02:04] pal05249 commented on #13
Iam unable to open the contribution guidelines...it's says 404 error. Can anyone help?

[2020-06-12 06:46] Kvaibhav01 commented on #13
Hi @pal05249, thanks for pointing out. You can visit _[docs/how_to_contribute.md](https://github.com/jayehernandez/letra-extension/blob/master/docs/how_to_contribute.md)_ file to take a look,

@jayehernandez please update the link in this issue description.

[2020-06-12 11:29] jayehernandez commented on #13
@pal05249 @Kvaibhav01 thanks for flagging, description has been updated accordingly.

[2020-06-12 11:32] jayehernandez commented on #157
Closed by #158 158

[2020-06-12 11:32] #157 closed

[2020-06-13 06:29] #131 closed

[2020-06-14 07:42] AARYAN-MAHENDRA commented on #13
Hello I would like to contribute.Its open for PRs right.

[2020-06-15 06:21] notorious-sobriety commented on #155
Hi Jaye! I'm mostly done with the bulk of translation. I have quite a number of items that have to be translated in two or three words or words with prepositions or set phrases - do you want those or should I scrap them?
Also, as a side note, some of the words seem to be wide-used in English but their translations in Russian are a bit more obscure due to the fact I had to pick one translation of m

[2020-06-16 10:41] jayehernandez commented on #155
Thank you so much for working on this, Kate!

No worries if they have to be translated in two or three words, I think these will still be useful.

If any of the words translated to Russian are unclear, it might be better to remove them. But if the translation is fine, I see no need to fix it anymore. I'll defer the decision for this to you!

[2020-06-16 15:27] userakai commented on #1
Hi, I could help with the Italian version! I'm very new to json files but I think I could be of use.

Also, if I may suggest a small change: Japanese kanji are hard to read without the phonetic characters above (Furigana, as in the picture below), so I can't understand what I'm reading without searching on the dictionary. If you could implement a way to add furigana it would be awesome for us Japa

[2020-06-16 22:07] T3yk1L commented on #1
Hey, I could help with Russian language, I'm new to Git and GitHub but I'd really like to help.

[2020-06-17 12:18] shamsrza commented on #1
Hi, I can help with Turkish and Russian female. I am new in Github as well and therefore I need some support and direction. Also I suggest to add Azeri language (my native language).

[2020-06-17 12:32] Alireza-Shie commented on #1
Hi, I want to work on Persian

[2020-06-17 13:26] reetine opened #182 "984971"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-17 14:04] Prenda77 commented on #1
Well, I would like to see & ready something, in Portuguese, here... 🤗

[2020-06-17 15:42] sanzhar999 commented on #1
Hey, @jayehernandez. I want to help you with Russian translation and yes, I speak Russian.

[2020-06-18 07:06] Kvaibhav01 commented on #1
Hey @sanzhar999, @notorious-sobriety is assigned on the Russian translation currently. #155

[2020-06-18 09:26] sanzhar999 commented on #1
@Kvaibhav01 ooo, OK. I dont know. But, if u need my help. I am always ready

[2020-06-18 14:04] jayehernandez commented on #155
Closed by #180

[2020-06-18 14:04] #155 closed

[2020-06-18 14:04] jayehernandez commented on #182
Is this another bot? 😫 Closing this issue

[2020-06-18 14:04] #182 closed

[2020-06-18 14:08] jayehernandez opened #185 "🌍 Add Italian Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md). Also, if applicable, hope you can add the romanization attribute of the word.

Please go through the checklist so that you won’t miss anything!

References #1

[2020-06-18 14:08] jayehernandez opened #186 "🌍 Add Turkish Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md). Also, if applicable, hope you can add the romanization attribute of the word.

Please go through the checklist so that you won’t miss anything!

References #1

[2020-06-18 14:11] jayehernandez commented on #1
Hi @userakai, created an issue for adding Italian in #185, please comment there so I can assign it to you. :)

Great suggestion on adding Furigana as well, I’m not learning Japanese myself but we have support for adding romanization. Would that be more helpful? Will just need help on filling in the data for that though.

[2020-06-18 14:13] jayehernandez commented on #1
Hey @T3yk1L, Russian is already supported as done in issue #155. If you want to practice contributing to open source, you can go to issue #13, this is great for beginners!

[2020-06-18 14:15] jayehernandez commented on #1
Hey there @shamsrza, Russian is already supported as stated in issue #155.

I created a new issue for adding Turkish here #186. Please comment there so I can assign it to you. You can follow the instructions written there and if you need help, just comment there as well.

Sadly, responsive voice (the software used for text to speech) does not support Azeri so we can’t add it yet.

[2020-06-18 14:15] userakai commented on #1
Romanization is the next best thing, it makes it much more helpful. I'm sorry I can't help you with that since I'm just learning japanese and could make some mistakes.

[2020-06-18 14:16] jayehernandez commented on #1
Hey there @Alireza-Shie, Persian is sadly not supported by Responsive Voice, sorry! Hope you can take a look at the other issues if you would like to contribute. :)

[2020-06-18 14:17] jayehernandez commented on #1
No worries @userakai, will open it up to other people who can help out :)

[2020-06-19 08:32] kemooo3333 opened #188 "rsh-43"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-19 09:53] kemooo3333 opened #190 "rsh-43"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-19 10:15] jayehernandez commented on #188
The hustle of these bots :/

[2020-06-19 10:15] #188 closed

[2020-06-19 10:16] jayehernandez commented on #190
Stop :(

[2020-06-19 10:16] #190 closed

[2020-06-19 11:24] Kellygray31 opened #192 "Problems"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-19 11:24] #192 closed

[2020-06-19 11:26] Kellygray31 commented on #69
Fuuyhh

[2020-06-19 11:26] Kellygray31 commented on #69
Ghghj

[2020-06-19 11:33] dogagcmnr commented on #1
Dear, I'm interested in making Turkish translation for your project. Please let me know.. Best wishes..

[2020-06-19 11:33] thor174 opened #193 "Lg"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-19 11:35] thor174 opened #194 "Rus"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-19 11:35] thor174 commented on #194
44

[2020-06-19 11:51] pandiangm opened #195 "intunewinapputil.exe"
Hi Team,

Could you please explain shall we create intune wrapper in Windows 7 64 bit using intunewinapputil.exe

Any system requirements for using intunewinapputil.exe

[2020-06-19 12:28] Kvaibhav01 commented on #195
You're still a bot. 😒 💢

[2020-06-19 12:29] jayehernandez commented on #193
Omygosh

[2020-06-19 12:29] #193 closed

[2020-06-19 12:30] jayehernandez commented on #195
🤨🤨🤨

[2020-06-19 12:30] #195 closed

[2020-06-19 12:31] #194 closed

[2020-06-19 12:53] dogagcmnr commented on #186
Started! I'm using pomodoro technique and 2500 lines of translation has finished in less than an hour. I'll keep it doing one more hour for day. Have a nice day.

[2020-06-19 12:57] Puja304 commented on #1
Hey! Can I help out with the Hindi translation? I am new to GitHub so I really don't know how to get started

[2020-06-19 14:25] freedomfan01 opened #199 "How do I use "import re" and "import csv" to sift through data?"
So I'm in this introduction to scripting class and it is moving really fast for my understanding. We're applying regular expressions and the task is to have our fellow students pretend to be a manager and ask us to come up with the regex code (if it even needs to be regex) to apply. Below is a screenshot of the csv along with the template code to build off of.  The questions I was asked was:

Ques

[2020-06-19 14:27] thor174 opened #200 "174"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-19 14:29] thor174 commented on #195
I am not a bot

pt., 19 cze 2020, 14:30 użytkownik Jaye Hernandez <notifications@github.com>
napisał:

[2020-06-19 15:24] gauthamdn opened #201 "Null entries in hindi.json"
**Is your feature request related to a problem? Please describe.**
There are null entries in the file hindi.json

**Describe the solution you'd like**
I will be able to update the missing entries and correct the hindi.json file

[2020-06-19 15:28] Kvaibhav01 commented on #201
Hi @gauthamdn, can you tell us which entries are null in _hindi.json_ by giving an example or two?

[2020-06-19 15:32] jayehernandez commented on #200
Please specify the issue if this isn’t from a bot 😕

[2020-06-19 15:32] #200 closed

[2020-06-19 15:37] jayehernandez commented on #199
Hey there @freedomfan01! This seems to be unrelated to the extension.

Try to create a question over at [Stack overflow](https://stackoverflow.com). More people would help out with your concern there.

[2020-06-19 15:37] #199 closed

[2020-06-19 15:38] jayehernandez commented on #186
Assigning this to you @dogagcmnr!

[2020-06-19 15:39] jayehernandez commented on #1
Assigning Turkish to you as you seem to already have opened up a PR #196.

@shamsrza sorry someone beat you to the Turkish translation!

[2020-06-19 15:40] jayehernandez commented on #1
Hey there, Hindi is already supported. This was done by @Kvaibhav01. If you want to contribute, you can check out issue #13. This is beginner friendly!

[2020-06-19 15:53] gauthamdn commented on #201
hi @Kvaibhav01 ,

Examples below

1.null entries after the word adequate...
 {
    "word": "पर्याप्त",
    "translation": "adequate"
  },
  {
    "word": null,
    "translation": null
  },
  {
    "word": null,
    "translation": null
  },

2. After the word Admire
 {
    "word": "प्रशंसा करना",
    "translation": "admire"
  },
  {
    "word": null,
    "translation": null
  },

[2020-06-19 15:56] gauthamdn commented on #201
Also, i actually took sometime to correct the null entries here. in the following [link ](https://github.com/gauthamdn/letra-extension/blob/master/server/data/words/hindi.json).

Please review

[2020-06-19 17:07] Kvaibhav01 commented on #201
You've removed the null entries, that's good!

[2020-06-19 17:20] gauthamdn commented on #201
@jayehernandez  i have opened a pull request # [204](https://github.com/jayehernandez/letra-extension/pull/204)
for the fix on hindi.json.
https://github.com/jayehernandez/letra-extension/pull/204

pls review and merge

[2020-06-19 17:25] gauthamdn commented on #13
@jayehernandez  i have added a quote and created a pull request
#198

[2020-06-19 18:00] sukanya999 opened #205 "ล"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-19 21:43] mihirjhaveri opened #207 "Supervised Learning : Linear Regression - with Bias ( simple basic program) - : Predicating No of Pizza, based on one reservation parameters"
Hi Friends
I was trying out linear regression in a basic way. As wanted to understand the blocks.

So am using a trial and error method to get the right iterations to train the system.

How do get the correct converge, ie. right iteration, tried various numbers already.

I am getting following error: -Couldn't converge within 183 iterations

I have changed the different combination of iteration, s

[2020-06-20 01:28] mahdiarian opened #208 "فارسی"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-20 02:07] naman2807 commented on #1
Hi, I'd like to contribute to this project to.This is my first priject

[2020-06-20 07:25] Kvaibhav01 commented on #207
Hey, @mihirjhaveri this is not a right issue for this repository.

[2020-06-20 07:27] mihirjhaveri commented on #207
Hi @Kvaibhav01
Thanks, I wanted to post in the fresh thread, I am not sure, how it got attached here. Is there a way I can shift this to a new thread.

[2020-06-20 07:27] #207 closed

[2020-06-20 07:28] Kvaibhav01 commented on #207
As for as I know you can't shift an issue from one repo to another. You can just copy/paste this to the desired repo.

[2020-06-20 10:02] jayehernandez commented on #207
Thanks for taking this on @Kvaibhav01, appreciate it.

[2020-06-20 10:04] jayehernandez commented on #205
Hi there, this issue isn't really clear. Closing it.

[2020-06-20 10:04] #205 closed

[2020-06-20 10:05] jayehernandez commented on #208
This issue isn't really clear, closing it now :(

[2020-06-20 10:05] #208 closed

[2020-06-20 20:09] shubhsk88 opened #210 "Setting Option Click Issue"
**Is your feature request related to a problem? Please describe.**
When I click on the setting the dropdown stays open until I click it on the setting button.

**Describe the solution you'd like**
The settings dropdown should disappear once the user click anywhere else on the picture of extension

[2020-06-20 20:15] shubhsk88 opened #211 "Making the Sideoption as dropdown to switch between languages"
**Is your feature request related to a problem? Please describe.**
In the left side of the screen, there is a language flag shows which doesn't support the dropdown as if I selected multiple languages to learn, It shows only one language
**Describe the solution you'd like**
We can add the feature like to dropdown who have selected multiple languages to learn we can provide like random, german, Kor

[2020-06-21 02:46] jayehernandez commented on #201
Great job on the null entries! I reviewed your PR. Please let me know if you have done the requested changes for the quote since they are in a single PR.

[2020-06-21 02:51] jayehernandez commented on #192
Github has got to do something with these bots :(

[2020-06-21 02:52] jayehernandez commented on #210
Hi there @shubhsk88! Thanks for opening this issue.

I'm not sure if it's covered in #69, @Kvaibhav01 can you confirm? :)

If it's not, would you like to take this on, @shubhsk88?

[2020-06-21 02:55] jayehernandez commented on #211
Good idea! Although I'm not sure if it should be added as an option when clicking the flag on the left side of the screen?

The flag is meant to be a marker of what the current word of the day is. Maybe it's better to add this to the refresh button instead? What do you think?

[2020-06-21 02:59] shubhsk88 commented on #211
I mean we might have to look for the way that users can switch with the language. The other option is that what about when user opens a new tab it will come up with the new word and if the user switches the language then the next word should be on that languages I think that will be a good enhancement

[2020-06-21 03:00] shubhsk88 commented on #210
I can take this issue but I need to know what library are you using so I can take this issue

[2020-06-21 03:08] shubhsk88 opened #215 "Adding Most common word deck in the database and use real voice instead of voice api"
**Is your feature request related to a problem? Please describe.**
The extension doesn't show common word often and sometimes it shows weird like a "battery" which very rarely gets used by the people learning languages  and pronunciation of these words is even terrible so it would be a good enhancement if we can replace those word with most commonly used words

**Describe the solution you'd like**

[2020-06-22 07:12] Kvaibhav01 commented on #210
Hi @shubhsk88, this issue is being worked on with a Snackbar indicating that the settings were saved as suggested in #69. @jayehernandez, you were about to make a PR regarding the Snackbar?

[2020-06-22 11:05] shubhsk88 commented on #210
https://www.loom.com/share/9ca929063b694bfeb3ebf348a95b924e
What I mean this I have to click on the snackbar again in order to disappear the setting while it should go away if I click anywhere else in the screen

[2020-06-22 12:20] Kvaibhav01 commented on #210
I can't see any snackbar in that video. It's in the todo list for the future versions of the extension. 😕

[2020-06-22 12:24] shubhsk88 commented on #210
Yeah but you got the bug that I am talking

[2020-06-22 13:33] Kvaibhav01 commented on #210
Yes, I see what you're talking, I and @jayehernandez are in the process of working to fix that bug. If for some reason it's not done, we can give it to you. Let's wait for Jaye to reply.

[2020-06-22 16:01] jayehernandez commented on #210
Ah okay, I got what you were trying to say @shubhsk88.

I didn’t realize this was also a part of the issue @Kvaibhav01 already opened. Particularly this part:

Hope it’s okay that I’ll be closing this issue now, as it seems it is a duplicate. Further updates will be in #69.

[2020-06-22 16:01] #210 closed

[2020-06-22 16:15] jayehernandez commented on #215
Understandable concerns!

1. Word deck
I used a reference for the 3000 most used words. This repository is based on the [Oxford 3000](https://www.oxfordlearnersdictionaries.com/us/wordlist/) and battery is actually a common word used. What deck do you suggest we use? I feel like this is enough?

2. Real Voice vs Voice API
This seems like a hard feature that may be out of scope for this repo. At th

[2020-06-22 16:21] jayehernandez commented on #211
For context, a new word from a random language (based on those the user selected) is chosen everyday.

Changing the word for every new tab might not be a good solution considering the fact that they should be seeing the same word for that day to retain memory of it.

I can whip up a quick mock-up for refreshing the word in the user’s chosen language. I’m thinking this can be a pop-up under the ref

[2020-06-22 16:22] jayehernandez commented on #201
Forgot to close this issue! Closed by #204

[2020-06-22 16:22] #201 closed

[2020-06-22 17:29] shubhsk88 commented on #215
The voice api pronunciation is really horrible and We can use the deck that people actually use to learn language not some oxford common word Personally I think those decks are more helpful and they usually come with the voice I am suggesting to look after some deck that i think is much far better
- [Memrise](https://www.memrise.com/course/1614/1000-most-common-korean-words/)
-[Anki decks](https:/

[2020-06-22 17:35] shubhsk88 commented on #211
Yeah I will be happy to take the issue but can we discuss this in brief so I have the gist of it

[2020-06-23 00:33] jayehernandez commented on #215
I skimmed through a few of the deck words and they seem to include stuff like greetings for beginners to more intermediate phrases and words for home, travel, food, etc.

This app was designed to serve as a **supplementary** guide to the apps you mentioned above though. So they use their own word decks for phrases like “How are you?” and it’s their job to help you learn those.

Letra’s job then is

[2020-06-23 00:38] shubhsk88 commented on #215
Can we discuss this I didn't think you got my point

[2020-06-23 00:43] jayehernandez commented on #215
I think it's quite clear what your feature request is but let me know what I got wrong

[2020-06-25 20:13] nicolas-alv3 commented on #124
Hi!, Do you need more test? (In adittion to the ones that @tbarland77 did)

[2020-06-26 14:03] jayehernandez commented on #124
Hey @nicolas-alv3, yes sure! You can work on the files @tbarland77 did not cover in his recent PR :)

[2020-06-29 16:06] Astriduser commented on #185
Hi jayhernandez, i am a professional translator and interpreter and I do speak Italian. Do you still need help?

[2020-06-30 02:58] jayehernandez opened #223 "🥴 Error page in New Tab"
Hi! Documenting that if you haven't opened your new tab before 10:30 AM (GMT+8) today (June 30, Tuesday) you'll be getting an error page for the rest of the day.

![Screen Shot 2020-06-30 at 10 53 48 AM](https://user-images.githubusercontent.com/13959651/86078133-021a8100-bac0-11ea-93b2-05d5a104481c.png)

Heroku is the server I'm using for the API and the free dyno hours (time that the server is a

[2020-06-30 06:53] Kvaibhav01 commented on #223
Thanks for informing! Hope your card issue revolves and it runs smoothly after.

As for an alternative, have you tried [App Engine](https://cloud.google.com/appengine/) or other [GCP](https://cloud.google.com/) services? I think they're much stable.

[2020-06-30 12:10] tobias1012 commented on #223
I've been looking a bit on the node js server, and I know it would be a somewhat extreme measure, but is there any reason to have the server be active and not just a static site with some .js magic on the client-side? then it would be able to just host here on GitHub with the Github pages.

[2020-07-01 02:24] jayehernandez commented on #223
@Kvaibhav01, I haven't tried those yet but they look quite promising. Will look into that, thanks!

[2020-07-01 02:28] jayehernandez commented on #223
@tobias1012 that would solve the server problem! Have you used this approach before? I'm not sure about the performance of this, but if it's fast, maybe this is something we can look into.

[2020-07-01 02:32] jayehernandez commented on #223
Just an update as well, this problem is **temporarily** fixed!

Heroku support was able to fix something in my account this morning. Was able to verify my credit card as well so the free dyno hours have been extended from 550 hours to 1000 hours per month. I'll be leaving this issue open though, I'm not sure how long 1000 hours will last 😅

[2020-07-01 13:09] tobias1012 commented on #223
Hmm I personally use the github pages for my personal portfolio. at a glance i can't see a big problem with the [terms of service](https://help.github.com/en/github/working-with-github-pages/about-github-pages#guidelines-for-using-github-pages). I'll be working on a small Proof-Of-Concept just to see if it's a viable solution, will update here once i have some benchmarks and such.

[2020-07-02 04:27] jayehernandez commented on #223
@tobias1012 got this! I also use github pages for a few static sites as well, it's really easy to use and not having to keep an eye out for the server will really help out. I think we'll be sticking to the live server for now, since it seems like it's the cleaner option, both for the server and client side since we won't have to parse the language file. But thank you for looking into this!

[2020-07-03 17:45] HakaCode commented on #1
I am new to contributing and I would like to contribute in 🇧🇷 Brazilian Portuguese

[2020-07-15 01:45] jayehernandez commented on #1
Hey @HakaCode we already support this here! sorry!

[2020-07-15 01:46] jayehernandez commented on #1
Hello @naman2807, please checkout #13, this is good for beginners!

[2020-07-15 01:47] jayehernandez commented on #185
Hey @Astriduser, yes some help on this would be appreciated! Would you like to take this on? I can assign it to you.

[2020-07-16 16:47] RathiRohit opened #237 "Showing language name on hover over flag (Feature Request)"
First of all thanks for such a beautiful extension. This is now on top of my "new tab extensions" list 🤩 .

One thing I found that can be very helpful is showing language name along with Flag on left corner.
To not to clutter existing content on the screen, language name can be shown on hovering over flag. Which will hide back when mouse is moved out.

Right now one has to guess the language of th

[2020-07-17 14:32] jayehernandez commented on #237
Agree with this! It’s not easy to memorize the flags so this will provide more context to the user. Assigning you to this issue. Please let me know if you need help! :)

[2020-07-19 05:07] jayehernandez commented on #237
Closing this issue!

[2020-07-19 05:07] #237 closed

[2020-07-19 08:15] jayehernandez commented on #69
Closed by #241 :D

[2020-07-19 08:15] #69 closed

[2020-07-19 08:20] #215 closed

[2020-07-20 06:00] IC1101Virgo commented on #1
Hi ! I can work on German Translation..

[2020-07-20 06:13] Kvaibhav01 commented on #1
Hi @IC1101Virgo, thanks for the participation but [German is already supported](https://github.com/jayehernandez/letra-extension#-supported-languages). You are welcome to work on some [existing (un-assigned) issues](https://github.com/jayehernandez/letra-extension/issues?q=is%3Aopen+is%3Aissue+no%3Aassignee).

[2020-07-21 04:18] IC1101Virgo commented on #1
@Kvaibhav01 Thank you so much. I'll look them up 😄

[2020-07-22 14:21] Wanrick opened #246 "🌍 Add Afrikaans Language"

[2020-07-22 14:28] #246 closed

[2020-07-22 14:29] Wanrick commented on #246
I don't think I was supposed to start here. 🙈

[2020-07-22 14:31] Wanrick commented on #1
Hi 👋
I am new to contributing. I would like to contribute Afrikaans as a language option.
(I accidentally created the issue before coming here. Apologies.)

[2020-07-23 10:15] jayehernandez opened #247 "🌍 Add Afrikaans Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md). Also, if applicable, hope you can add the romanization attribute of the word.

Please go through the checklist so that you won’t miss anything!

References #1

[2020-07-23 10:16] jayehernandez commented on #1
Hi @Wanrick, thanks for the interest in contributing! No worries about the accidental PR. Created a new one though #247 please comment there so I can assign it to you.

Thank you!

[2020-07-23 11:18] Wanrick commented on #247
Thank you for the new Issue @jayehernandez.

[2020-08-01 13:39] #247 closed

[2020-08-01 13:39] jayehernandez commented on #247
Adding to the next release!

[2020-08-01 22:13] tobias1012 commented on #153
As this is starting to look stale i just wanted to document that i am in fact still active and working

[2020-08-02 01:26] jayehernandez commented on #153
Thank you for the update @tobias1012!

[2020-08-05 04:31] meghsohor commented on #1
Thank you @jayehernandez for accepting my commit of #255 . It was my first contribution to an open-source project. I am really happy that I could work with my native language and you have given me that opportunity. Hopefully I will be able to make more contribution to this project.

Cheers!

[2020-08-05 15:15] jayehernandez commented on #1
Congrats on your first PR @meghsohor! Hoping it’s the first of many. The project’s always open for more people to contribute in any way they can. :)

[2020-08-20 11:28] jayehernandez commented on #211
Hey there @shubhsk88, didn't have the time to do the mock-up for this but are you still willing to take this on? Let me know!

[2020-08-20 11:30] jayehernandez commented on #223
Closing this since free dyno hours are doing well for now! I'll re-open if we're near the quota but so far, it's already August 20 and we haven't passed even half of the dyno hours.

<img width="807" alt="Screen Shot 2020-08-20 at 7 29 34 PM" src="https://user-images.githubusercontent.com/13959651/90764801-839dcb00-e31b-11ea-8de2-8ecdc71f197a.png">

[2020-08-20 11:30] #223 closed

[2020-08-20 17:12] shubhsk88 commented on #211
Yeah sure we can discuss it if you have time

[2020-08-24 20:35] shubhsk88 commented on #211
Yeah, I would be happy to take this and I was thinking that if we can give a user like an option to decide himself like after how much time he wants the word to be refreshed, what do you think of that?
I am little new to vuejs and experienced in react js but I will try  to solve that issue

[2020-08-26 15:51] jayehernandez commented on #211
@shubhsk88 To avoid adding complexity, I think we won’t need that option for now! Good with doing the dropdown issue first. I’ll assign you to this issue!

[2020-09-13 15:56] yaoberh opened #273 "New tab doesn't show new word, always the same one."
Is this normal or is it a bug? Each time I open a new tab it's always the same word in any of the languages until I press the button up on the right.

[2020-09-15 06:14] jayehernandez commented on #273
Hi! This is an intended behavior. The word only refreshes at 12 midnight. This is so that the user will retain info about the same word for the entire day.

[2020-09-15 06:14] #273 closed

[2020-09-17 16:11] thor174 opened #274 "44"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-17 16:11] thor174 opened #275 "44"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-17 16:12] #274 closed

[2020-09-17 23:52] jayehernandez commented on #275
😕

[2020-09-17 23:52] #275 closed

[2020-09-18 14:53] kvharish commented on #154
Hi, @jayehernandez I can speak and read Tamil. I see no one has taken this up yet. Can I give it a try?

[2020-09-18 23:45] jayehernandez commented on #154
Hi @kvharish sure, assigning this issue to you!

[2020-09-19 03:35] kvharish commented on #154
Thanks, @jayehernandez started working on this.

[2020-09-21 10:03] king-11 opened #276 "Duplicate testing"
while checking for duplicate quotes current quotes.test.js will not take into consideration the same quotes where the case is different all will not fail.

[2020-09-21 13:01] king-11 commented on #124
@jayehernandez are there any more tests that needs to be added to the server or client I would love to contribute :)

[2020-09-21 14:16] #276 closed

[2020-09-23 14:44] DieBrise commented on #211
Hey @jayehernandez @shubhsk88 I'd like to work on this issue, but I need to clarify one thing:

Should the flag on the top-left show a dropdown of all available languages, or just languages the user has selected from the options on the top-right?

Right now, I have a dropdown working with all options. I'd like to be sure of the functionality above before I begin designing.

[2020-09-25 02:39] justinhhorner opened #288 "Remove references to example.test.js file"
The testing guidelines documentation currently references `test/example.test.js`, a file that was removed in [this commit](https://github.com/jayehernandez/letra-extension/commit/ab9ee4a026e793236b90263ff83b23d3b0839572).

We can remove the references and update the examples using an existing test file, like OptionsButton.test.js for example.

[2020-09-25 12:38] ponickkhan opened #290 "Wrong Flag for Bangla Language"
bangla flag should be this 🇧🇩  instead of this 🇧🇳

[2020-09-25 16:59] zunamidev opened #293 "Feature request"
A setting to change the background image to a solid color. Like this
![image](https://user-images.githubusercontent.com/44585887/94295121-122bea80-ff61-11ea-8916-ac63a612f93d.png)

I already created one PR for this
#292

I hope this is description is okay, it's my first PR to open source.

[2020-09-25 18:13] jayehernandez commented on #290
Thanks for flagging this, @ponickkhan! Do you want to work on changing this? If not I’ll be taking it on.

[2020-09-27 00:10] ponickkhan commented on #290
@jayehernandez  i have already made a pull request on this

[2020-09-27 02:31] elaynelemos commented on #1
Hey! May I work on adding PT-BR?

[2020-09-27 03:11] HakaCode commented on #1
@elaynelemos https://github.com/jayehernandez/letra-extension/issues/1#issuecomment-658497425

[2020-09-27 16:08] jayehernandez commented on #1
Thanks @HakaCode! @elaynelemos, since this is already supported, if you find that there's better translations for the words, feel free to submit a PR to discuss!

[2020-09-27 16:11] jayehernandez commented on #293
Yup! Would be glad to have this a s a feature to also help with lowering the requests to Unsplash, I'll be reviewing your PR on it.

[2020-09-27 16:36] #288 closed

[2020-09-27 16:40] jayehernandez commented on #290
Closed by #294

[2020-09-27 16:40] #290 closed

[2020-09-27 16:44] jayehernandez commented on #211
Hey @DieBrise, it should only show the languages the user chose to limit the options. :)

@shubhsk88 want to check if you are still working on this?

[2020-09-28 23:29] thor174 opened #298 "S.T.A.R. Labs - Wikipedia"
https://en.wikipedia.org/wiki/S.T.A.R._Labs

[2020-09-29 01:12] jayehernandez commented on #298
🤔

[2020-09-29 01:12] #298 closed

[2020-09-29 14:26] shubhsk88 commented on #211
@jayehernandez  thanks for the followup.I am busy with my personal issues. So if somebody wants to take this issue. It's fine

[2020-09-29 17:44] thor174 opened #300 "4n4"
https://www.github.com/material-components/material-components-web-components/tree/master/demos%2Ffab%2Findex.html

[2020-10-01 05:03] perpouh opened #308 "How I can contribute to this repository for translate Japanese?(number format)"
Hello.
I saw https://dev.to/devteam/whos-looking-for-collaborators-hacktoberfest-2020-jl89

I want to contribute to this repository for translation Japanese.

but I'm wondering which one to unify japanese.json with numeral

example:

漢数字(kan-suji, kanji numeral) used for vertical writing(mainly).
[code]

アラビア数字(Arabia-suji, Arabic numeral) used for horizontal writing(mainly).
[code]

I think anyon

[2020-10-01 05:05] perpouh commented on #308
I'm going to remove unnecessary "です(desu)" "ます(masu)" for the time being.

[2020-10-01 05:46] jebitok-dev commented on #1
I would like to add Kiswahili as a language.

[2020-10-01 06:57] singleparadox opened #312 "Save button is unclickable on smaller screens"
**Problem**: Save button is unclickable on smaller screens

**Solution**: It seems that the "time" is overlapping the options menu. changing the z-index of  .options-menu from 2 to 4 fixes the issue.

![image](https://user-images.githubusercontent.com/29853589/94774397-6ebf5780-03f0-11eb-84d0-3b4b5b2ea5d0.png)

[2020-10-01 07:02] singleparadox commented on #312
Sent a PR #313 :)

[2020-10-01 15:42] mViolet commented on #1
Hi - I would love to add Croatian as a language!

[2020-10-02 08:23] itzmeowww commented on #1
I would like to add the Thai language. (I've already added 😅)

[2020-10-02 08:39] RaithZx commented on #13
Hey, I've just read the  [Adding a quote documentation page](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_quote.md) but it says **"Try to add the quote in a random line"**, then in the checklist for valid PRs states: **The quote(s) added are in alphabetical order and not x duplicates.**.
Seems to be contradictory or maybe I'm missing some point.
Hope I have explained mysel

[2020-10-02 08:45] Kvaibhav01 commented on #13
Hey @RaithZx so that there are no [merge conflicts](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/about-merge-conflicts) (when multiple contributors are working to fix the same issue or contribute to the same feature), we suggest adding the quote randomly i.e. not specifically towards the end of the file.

Of course, the quote author names are a

[2020-10-02 08:54] RaithZx commented on #13
Oh now I got it, thanks @Kvaibhav01!
So we must place the quote in alphabetical order which eventually wil be as "random" placed.

[2020-10-02 16:20] mViolet commented on #1
Hey! I would love to add Croatian as a language.

[2020-10-02 18:01] yuxxeun commented on #1
Hey @jayehernandez can I contribute to Indonesian?

[2020-10-02 18:05] Kvaibhav01 commented on #1
Hey @yuxxeun, the Indonesian language is [already supported](https://github.com/jayehernandez/letra-extension/pull/65)!

[2020-10-02 22:03] dephraiim opened #347 "Add an option to set time to change text"
**Is your feature request related to a problem? Please describe.**
Same text on everytab open. It's not a bug, but it feels always the same unless you refresh for another word.

**Describe the solution you'd like**
An option to set the time range for the word to change or to change it on everytab open or to change it everymidnight.

[2020-10-03 08:47] Kvaibhav01 commented on #347
Hey @dephraiim, this is an intended issue. Please read more about this here. [#273](https://github.com/jayehernandez/letra-extension/issues/273)

[2020-10-03 09:36] BaharaJr opened #359 "Add Swahili Language"
I would love to contribute by adding the Swahili language that is widely used in East and Central Africa. The Swahili language is the official language for  [Tanzania](https://en.wikipedia.org/wiki/Languages_of_Tanzania) and is vastly used in [Kenya, Uganda, DRC, Sudan, etc](https://en.wikipedia.org/wiki/Swahili_language). The language is rich in features and dialects are spoken in other countries

[2020-10-03 10:09] jayehernandez commented on #347
Closing this issue since this is an intended behavior, as pointed out by @Kvaibhav01 as well.

[2020-10-03 10:09] #347 closed

[2020-10-03 10:09] jayehernandez commented on #359
Assigning you to this issue, @BaharaJr! Please let me know if you need any help.

[2020-10-03 10:10] jayehernandez commented on #312
Thanks for flagging this, and making the fix for it! :)

[2020-10-03 10:12] BaharaJr commented on #359
I will reach out for any further help needed @jayehernandez

[2020-10-03 10:16] jayehernandez commented on #308
Hey @perpouh, thanks for the interest in contributing!

I'm not that familiar with Japanese, but I think we can go with the normal and standard way? So that beginners trying to learn the language will be most familiar with the popular option.

What do you think?

[2020-10-03 14:19] therohitdas opened #364 "Word [H1] is overlapping with the H2"
During this COVID times, we should maintain social distancing. Words overlapping each other sends the wrong message.

Yes! I am Kidding.

I am talking about this overlap.
Language - Bengali

![Screenshot (17)](https://user-images.githubusercontent.com/43847374/94993744-c3113580-05b0-11eb-8e7c-c7c7c7217f0b.png)
![Screenshot (16)](https://user-images.githubusercontent.com/43847374/94993747-c5738f80-

[2020-10-03 14:42] WarenGonzaga commented on #52
@jayehernandez Is there anything else I can help? You can assign this to me.

[2020-10-03 17:13] #13 closed

[2020-10-03 17:48] jayehernandez opened #369 "📄 README changes"
Super grateful for everyone who has contributed to this repo so far. We’re currently seeing an influx of new PRs too since it’s Hacktoberfest! 🥳

The README is the go to place for new contributors. It’s the first impression of a repo. The current one works okay, but I’ve noticed that the all contributors section has been a bit too crowded since there are so many contributors. Which is a good thing

[2020-10-03 17:50] Kvaibhav01 commented on #369
I hope this idea goes well Jaye. Thank you for the mention and for letting everyone know about this. 😁

[2020-10-03 18:11] mdjibril opened #372 "Typo Error in how_to_contribute.md"
**Typo error**
No.5 of how_to_contribute.md has a typo it is supposed to be "with" instead of "which"

[2020-10-03 19:43] yuxxeun commented on #1
yes, thank you for the information, actually I have read on the readme that Indonesian already exists, but I offer to be ready to know something is missing. I really want to contribute but confused about what contribution :((

[2020-10-04 03:26] singleparadox commented on #312
Welcome! I saw that my PR was merged. Closing this.

[2020-10-04 03:26] #312 closed

[2020-10-04 04:56] #364 closed

[2020-10-04 04:57] jayehernandez commented on #364
LOL @ the intro 🤣 thanks for the laugh and the PR!!

[2020-10-04 06:14] therohitdas opened #375 "Add link to Support Page in the error page."
Currently when users see the error page,
![Screenshot (21)](https://user-images.githubusercontent.com/43847374/95008304-4032be00-0636-11eb-86a1-43195daa9dd2.png)
They are asked to go to the support tab.

I suggest adding a **link to the support tab.**

It will make the support tab accessible to users and decrease frustration.
Not having the link is frustrating because the user does not which suppo

[2020-10-04 06:56] kvharish commented on #154
Hi, @jayehernandez I have created the pull request for Tamil language (#376)

[2020-10-04 07:24] kvharish commented on #372
@mdjibril @jayehernandez Looks like this typo is fixed as part of #370 so we can close this issue?

[2020-10-04 08:22] Kvaibhav01 commented on #1
Hey, @yuxxeun look at the [different issues](https://github.com/jayehernandez/letra-extension/issues) that are opened and aren't claimed by anyone yet. You can work on those. Also, if you try to run the project in your local machine, you might see some bugs or issues which you can file and work. Maybe you'll get some new ideas/features!

[2020-10-04 09:22] #372 closed

[2020-10-04 11:46] jayehernandez commented on #375
This makes sense! There's no direct link to this though, but you can go to it by clicking on [this](https://chrome.google.com/webstore/detail/letra/cjodkkjokggcaeacdhjliobekbnnmoio) link!

[2020-10-04 12:51] #154 closed

[2020-10-04 14:18] therohitdas commented on #375
Okay, I can write something like -
"Please go to the [support tab](https://chrome.google.com/webstore/detail/letra/cjodkkjokggcaeacdhjliobekbnnmoio) of the extension if this continues!"

or create a button saying `take me to support tab`

[2020-10-04 14:50] therohitdas opened #385 "Security Vulnerbility: We need Dependabot"
While installing Letra on my machine, I encountered this-

[code]

Currently, the changes will be breaking-
[code]

We can prevent this from happening in future by using [Dependabot](https://dependabot.com/).

[2020-10-04 16:32] elenakout commented on #1
Can I contribute Greek language?

[2020-10-04 18:55] sthiepaan opened #388 "🌍 Add Polish Language"
Hello everyone 👋,
I would like to contribute by adding Polish language translations. It is the official language of Poland 🇵🇱 Some people say that Polish language is one of the hardest but from my point of view it is _"easy to learn, hard to master"_ 😛

I checked #1 and have gone through the guideline and checklist for [Adding a New Language](https://github.com/jayehernandez/letra-extension/blob/m

[2020-10-05 01:59] PeppermintNDaisies commented on #385
Hello! I would like to work on this issue!

[2020-10-05 02:03] PeppermintNDaisies commented on #185
Hello! I see this still needs to be done, I would like to work on this!

[2020-10-05 03:35] perpouh commented on #308
If the purpose is learning to write, it is better to use a general notation.
But if the purpose is learning to read, I thought it would be nice if I could show that these are idioms with the same meaning(十五、一五、拾五

I'm not that familiar with English, sorry if it's hard to read.

[2020-10-05 04:47] therohitdas commented on #385
Hi @PeppermintNDaisies,

I don't think we need to work on this issue.

If the maintainer enables Dependabot on this project, it will automatically create PR when the changes are not breaking.

[2020-10-05 11:04] xanaDev commented on #1
Can I add Arabic Language ? (I can speak the language)

[2020-10-05 13:14] #375 closed

[2020-10-05 19:33] markrofail commented on #1
@jayehernandez would like to contribute to the Arabic Language. Native Arabic speaker.

[2020-10-05 20:04] divn commented on #1
I could work on Finnish if its ok

[2020-10-06 07:23] Kvaibhav01 commented on #1
@markrofail Arabic is already supported. Please check out the [Readme](https://github.com/jayehernandez/letra-extension/blob/master/README.md) and the _[words](https://github.com/jayehernandez/letra-extension/tree/master/server/data/words)_ folder to see which languages are already supported.

[2020-10-06 07:53] kvharish opened #400 "Issue with coverage while using rewire with jest"
Hi, @jayehernandez @Kvaibhav01 I am currently looking to add some tests to boost the coverage. I notice that rewire is being used in server/test/letra.test.js in order to test internal functions in server/routes/letra.js. There is an ongoing issue with coverage, not updating while using rewire with jest.

https://github.com/facebook/jest/issues/8871
https://github.com/jhnns/rewire/issues/145

Not

[2020-10-06 14:55] ponickkhan opened #402 "Thai Flag is Missing in README.md"
Thai flag should be this 🇹🇭 instead of ᴛʜ

[2020-10-06 14:57] Kvaibhav01 commented on #402
Hi there, this change has already been made as a PR by @kvharish [#381](https://github.com/jayehernandez/letra-extension/pull/381)

[2020-10-07 03:00] bobsany16 commented on #124
@jayehernandez I'm working adding test for `Time` view. Currently at 11% coverage. Having some trouble with testing the `getNow()` and its content.

[2020-10-07 08:30] DevelopMan commented on #1
@jayehernandez I would like to contribute on the Russian language. I am a native Russian. :)

[2020-10-07 08:32] Kvaibhav01 commented on #1
@DevelopMan Russian is [already supported](https://github.com/jayehernandez/letra-extension/blob/master/server/data/words/russian.json). Please check out the [Readme](https://github.com/jayehernandez/letra-extension/blob/master/README.md) and the _[words](https://github.com/jayehernandez/letra-extension/tree/master/server/data/words)_ folder to see which languages are already supported.

[2020-10-07 09:03] DevelopMan commented on #1
@Kvaibhav01  Sorry, I didn't check the file, but the best option will be to change the issue text. ;)
![add_lang_screenshot](https://user-images.githubusercontent.com/2499467/95310418-aadd3700-088c-11eb-9340-1ed9c91ebd37.png)

[2020-10-07 12:26] Kvaibhav01 commented on #1
For sure @DevelopMan, I'll let Jaye know about this. Thanks!

[2020-10-07 18:47] #293 closed

[2020-10-07 21:03] adico1 commented on #1
Can contribute Hebrew,
but I think voice is not supported

[2020-10-07 23:30] jish opened #410 "Question: Are there plans to add a Firefox version of the extension?"
**Is your feature request related to a problem? Please describe.**

No not necessarily a problem, just that I can't install the Letra extension in Firefox.

**Describe the solution you'd like**

It would be nice if the build process built both a Chrome version of the extension as well as a Firefox version.

**Describe alternatives you've considered**

I have considered attempting to one-off resear

[2020-10-08 07:18] Kvaibhav01 commented on #1
Hi @adico1, yes. As per the ResponsiveVoice API voices Hebrew isn't supported as listed [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/supported_voices.md).

[2020-10-08 07:25] Kvaibhav01 commented on #410
Thanks for opening the issue @jish! I agree that we should have a cross-browser extension but as far as I know, we're not into Firefox extension as of now.

@jayehernandez currently there is no plan for Firefox extension development right?

[2020-10-09 00:32] xinnks commented on #359
@BaharaJr If you would like some more hands on the Swahili translation, I'd be pleased assist.

[2020-10-09 04:11] BaharaJr commented on #359
Hey, @xinnks let's catch up and get this ship sailing.  I sent you a message on WhatsApp

[2020-10-09 10:56] jayehernandez commented on #1
Hey @DevelopMan thanks for letting me know about this. Updated the description to redirect other contributors to the README for the full list. Thanks @Kvaibhav01 for letting me know about this as well.

[2020-10-09 10:57] jayehernandez opened #417 "🌏 Add Greek Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md). Also, if applicable, hope you can add the romanization attribute of the word.

Please go through the checklist so that you won’t miss anything!

References #1

[2020-10-09 10:59] jayehernandez opened #418 "🌏 Add Croatian Language"
I created a guide for adding a new language [here](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md). Also, if applicable, hope you can add the romanization attribute of the word.

Please go through the checklist so that you won’t miss anything!

References #1

[2020-10-09 11:00] jayehernandez commented on #1
Hey @mViolet, created an issue for adding Croatian in #418. Please comment there so I can assign it to you.

Hey @elenakout, created an issue for adding Greek in #417. Please comment there so I can assign it to you.

[2020-10-09 11:01] jayehernandez commented on #388
Thank you for this!!! I will be looking at your PR shortly. 🥳

[2020-10-09 11:05] jayehernandez commented on #402
Closed by #381, thanks for reporting @ponickkhan and checking @Kvaibhav01!

[2020-10-09 11:05] #402 closed

[2020-10-09 11:11] jayehernandez commented on #185
Yes sure @PeppermintNDaisies! Assigning this to you :)

[2020-10-09 11:12] jayehernandez commented on #359
Assigning this issue to both of you @BaharaJr and @xinnks. Thank you! :) References #1

[2020-10-09 11:14] jayehernandez commented on #308
Ah I understand, we can start with the general notation for now, if that's okay @perpouh. There's no support yet for alternate translations so the standard way would be ok.

[2020-10-09 12:37] elenakout commented on #417
I already start working on it :)

[2020-10-09 14:17] jayehernandez commented on #417
Assigned you to the issue @elenakout!

[2020-10-09 14:34] PeppermintNDaisies commented on #185
Gret, thans @jayehernandez ! I submitted a PR for this issue #397

[2020-10-09 14:36] mViolet commented on #418
Thank you! I’d love to work on this

[2020-10-09 18:09] WyldWanderer commented on #1
@jayehernandez Sadly I can't contribute another language but I did write a script that auto-fills the Google sheet's 'word' column using the Google Translate formula you provided. It would cut down on time needed as someone could fill in all the words from Google Translate and then review the words from there. Before I submit a pull request however I wanted to check with you to see if such a tool

[2020-10-10 03:26] jayehernandez commented on #418
Assigning you to this @mViolet!

[2020-10-11 03:16] jayehernandez commented on #185
Closed by #397. Thanks again, @PeppermintNDaisies!

[2020-10-11 03:16] #185 closed

[2020-10-11 03:22] jayehernandez commented on #124
@bobsany16 cool, will comment on your PR!

[2020-10-11 03:26] jayehernandez commented on #385
Hey @therohitdas thanks for this, Dependabot is actually enabled already for this repo. I get alerts whenever there are security dependencies.

<img width="850" alt="Screen Shot 2020-10-11 at 11 24 02 AM" src="https://user-images.githubusercontent.com/13959651/95669528-60bdc380-0bb4-11eb-95e6-17bfaa5af006.png">

However, I'm not sure why it didn't open up an issue for the security risk above.

[2020-10-11 03:27] jayehernandez commented on #1
Hey @WyldWanderer yes this is great! Please go ahead with opening up the PR. We can also talk about the needed documentation changes when we go with that route.

[2020-10-11 04:19] jayehernandez commented on #369
Closed by #432 and #433!

[2020-10-11 04:19] #369 closed

[2020-10-11 04:19] WyldWanderer commented on #1
Sounds good, PR is open!

[2020-10-11 04:26] jayehernandez commented on #410
Yup, currently there’s no plan for developing a Firefox extension. But I think this was also discussed before with @Kvaibhav01 and it is something I’m open too! (Just don’t have the time to research now due to lack of time. 😅) This would open up the extension to more users.

@jish no one has investigated on working on the Firefox extension yet — would you like to start?

[2020-10-11 06:32] therohitdas commented on #385
@jayehernandez  I think it opens PR only when changes are not breaking. In this case changes are breaking -
`1 package update for 1 vulnerability involved breaking changes`

[2020-10-11 06:32] #385 closed

[2020-10-11 11:57] jayehernandez opened #434 "🖥 Change languages options to use a multiple select dropdown"
**Is your feature request related to a problem? Please describe.**
The list of languages is getting way too long 😅
<img width="216" alt="Screen Shot 2020-10-09 at 1 17 33 PM" src="https://user-images.githubusercontent.com/13959651/95677948-bec1c980-0bfb-11eb-9f42-06de7d594591.png">

**Describe the solution you'd like**
Use some sort of multiple select dropdown for choosing languages instead of che

[2020-10-11 12:04] reginaalyssa commented on #434
Hope it's okay that I take this on. :)

[2020-10-11 12:08] jayehernandez commented on #434
Assigning this to you @reginaalyssa :)

[2020-10-14 18:57] AugustasV commented on #1
I would like to add Lithuanian translation!

[2020-10-15 13:47] jayehernandez commented on #434
Closed by #438

[2020-10-15 13:47] #434 closed

[2020-10-15 13:48] #417 closed

[2020-10-15 13:54] jayehernandez commented on #400
Hey @kvharish! I haven't actually considered any alternative approach yet, do you have something in mind?

[2020-10-17 17:23] AlexxMart commented on #410
I would like to give a hand and make this work on Firefox

[2020-10-18 02:08] jzhengcode commented on #1
@jayehernandez Hello! I see that there is support for Simplified Chinese and I would love to contribute Traditional Chinese

[2020-10-19 11:50] jayehernandez commented on #1
Hi @jzhengcode sorry, this is already in progress by PR #470 😅

[2020-10-19 11:55] jayehernandez opened #475 "🛠 Unit Test - Alphabetically Ordered Quotes"
One of the guidelines for adding a new quote is to make sure that it is added in alphabetical order by author's first name.

Currently, checking this is done manually but we can add an automated test for this in [this](https://github.com/jayehernandez/letra-extension/blob/master/server/test/quotes.test.js) file so that it's flagged automatically.

If you'd like to work on this, please let me know!

[2020-10-19 16:46] SNIGDHA2654 commented on #475
I'd like to work on this issue!

[2020-10-19 18:06] codefunlearn opened #477 "Add Swedish language"
Hello.

**Describe the solution you'd like**

I speak Swedish and can [add it as a new langage ](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md).

For _hacktoberfest_ as a _good first issue_.

Regards

[2020-10-19 18:11] Kvaibhav01 commented on #477
Hey, thanks for your interest but before opening a issue regarding adding a new language please take a look at the [already opened one](https://github.com/jayehernandez/letra-extension/issues/1#issue-612543239) by the repository owner. The instructions are written there.

Also, [Swedish is already supported](https://github.com/jayehernandez/letra-extension#-supported-languages) and is mentioned in

[2020-10-19 18:42] codefunlearn commented on #477
Hi @Kvaibhav01
Thank you for the feedback. (I thought perhaps one could add words for these supported languages.)
Feel free to close the issue.

[2020-10-19 18:42] #477 closed

[2020-10-20 00:34] jayehernandez commented on #475
Assigning this to you, @SNIGDHA2654!

[2020-10-22 14:03] DavidtKate commented on #1
Hello @jayehernandez. I could work on a Dutch translation as this is my native language and it has male/female supported voice.

[2020-10-22 16:23] profread opened #490 "Unable to locate Voice attribute for Yoruba Language"
Unable to find the voice attribute for Yoruba language.
can it be added.
Will like to know how to create one.
Thanks

[2020-10-22 17:19] Kvaibhav01 commented on #490
Hey! What do you mean by "voice attribute"? Are you talking about the [supported voices](https://github.com/jayehernandez/letra-extension/blob/master/docs/supported_voices.md)?

[2020-10-23 02:46] profread commented on #490
Yes, Supported voices

[2020-10-23 08:19] Kvaibhav01 commented on #490
@profread we are using the [ResponsiveVoice API](https://responsivevoice.org/text-to-speech-languages/) for the voice feature and unfortunately, the Yoruba language isn't supported as you can see in [this file list](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md).

[2020-10-23 09:19] profread commented on #490
Okay thanks but I can still work on the word translate for this language?

[2020-10-23 12:36] Kvaibhav01 commented on #490
@jayehernandez need your comment.

[2020-10-24 07:10] arcestia commented on #47
Can i update more words to the list?

[2020-10-25 08:54] Dave-mash commented on #1
Hey @jayehernandez, I would like to work on the Swahili translation

[2020-10-25 08:55] Dave-mash commented on #1
Hey @jayehernandez, I would like to work on the Swahili translation

[2020-10-25 15:00] Kvaibhav01 commented on #1
@Dave-mash Swahili language work is already assigned. #359

[2020-10-26 02:08] charanjit-singh commented on #475
@SNIGDHA2654 any progress or should I take over this issue?

[2020-10-26 05:47] SNIGDHA2654 commented on #475
You can take over.

[2020-10-27 13:17] jayehernandez commented on #475
Closing this issue, @Koddi-Evangelista was able to create a PR for this!

[2020-10-27 13:17] #475 closed

[2020-10-27 13:23] jayehernandez commented on #490
Thanks for tagging @Kvaibhav01, since it's the voice for Yoruba isn't supported yet, it would be harder for those who want to learn the language to know how to pronounce the words without a guide.

Wouldn't want to waste your effort in translating @profread! If it's already supported, I'd be happy to let you translate.

Closing this issue for now, feel free to reopen.

[2020-10-27 13:23] #490 closed

[2020-10-27 13:25] jayehernandez commented on #1
@DavidtKate saw your PR, thank you!

[2020-10-27 13:31] jayehernandez commented on #47
@arcestia what do you mean by this, would you like to edit the translations or add more words? Currently, we don't allow adding of words outside of the 3000 words. Let me know!

[2020-10-27 20:07] profread commented on #490
Okay, will work on other languages then. Thanks

[2020-10-28 03:05] arcestia commented on #47
Just want to add a more commonly used word in Indonesian.

[2020-10-30 13:05] shehriyarnadeem commented on #1
I would like to work on Urdu language. But it has no supported voice. Is it possible to use hindi voice for it due to similarity ?

[2020-10-30 23:36] profread opened #516 "Arranging quotes Alphabetically"
Will like to know if there is an automatic way to arrange quotes in alphabetical order.
Rather than arranging quotes manually in `quotes.json.`

Are there some tests that can be run to check this?

[2020-10-31 03:02] #418 closed

[2020-10-31 03:08] jayehernandez commented on #516
This is actually already implemented in #475, do you have any other suggestions for this?

[2020-10-31 03:09] jayehernandez commented on #1
@shehriyarnadeem, sorry since it doesn't have a supported voice, we will not be able to add it for now. Using a similar voice may cause inaccuracy if people who want to learn the language use it.

[2020-11-04 13:44] yaoberh opened #528 "Option for seeing more than one word a day?"
Would be cool if one could select having more than one word a day. Maybe it could switch every 4-8 hours or so.

[2020-11-04 13:48] Kvaibhav01 commented on #528
Quoting @jayehernandez here from #66:

[2020-11-05 16:15] yaoberh commented on #528
I know. I asked some time ago if this was a bug or intended behaviour. I learn aprox. 50 new words of 4 different languages a day in Anki. Just wondering if it's possible to implement as its a nice feature to control how many words one wants to see per day.

[2020-11-22 07:39] jayehernandez commented on #52
Already completed by @Koddi-Evangelista in PRs: #349, #390, #443, #462

[2020-11-22 07:39] #52 closed

[2020-11-22 07:39] jayehernandez commented on #516
Closing this issue, feel free to reopen!

[2020-11-22 07:39] #516 closed

[2020-11-27 03:10] kemooo3333 opened #532 "‏rsh-43"
‏rsh-43

__Originally posted by @kemooo3333 in https://github.com/Snapchat/snap-kit-carthage/issues/8#issuecomment-734594944__

__Originally posted by @kemooo3333 in https://github.com/Snapchat/snap-kit-carthage/issues/18__

__Originally posted by @kemooo3333 in https://github.com/electron/electron/issues/26711__

[2020-11-27 07:56] kemooo3333 opened #533 "rsh-43"
‏basoord/rsh-43

__Originally posted by @kemooo3333 in https://github.com/Snapchat/passport-snapchat/issues/3#issuecomment-734698243__

[2020-11-27 07:59] #532 closed

[2020-11-27 07:59] #533 closed

[2020-11-30 02:25] rookiemonkey commented on #410
Good day @jayehernandez i submitted a pull request for this issue. I hope I was able to help ☺️

[2020-12-12 15:25] jayehernandez commented on #211
Closed by #301

[2020-12-12 15:25] #211 closed

[2020-12-21 16:43] juppsy commented on #1
Hi @jayehernandez! I would like to translate for Romanian language.

[2021-01-19 19:02] gugacavalieri commented on #410
Hi guys! Has this been approved by the Firefox team yet? :smile:

[2021-01-20 03:23] jayehernandez commented on #410
Hey @gugacavalieri! (and everyone else on here) They disabled the extension as there were differences in the `main.js` file when they tried to compile it on their end. When I checked their `main.js` file with mine, the changes were just the **different variables** used when compiling Vue.js code. They asked me if I could try hardcoding these variables but that was done by the compiler so I'm not r

[2021-02-10 10:05] tilenmiklavic commented on #528
I think @yaoberh has a great suggestion. Even though one word per day is a default, I still feel that adding an option to increase number of words you see per day or simply adding a set counter for each word appearance would increase this extension's usability.

[2021-02-10 10:07] tilenmiklavic commented on #90
Has this issue been resolved already? If not and there is no interest for others to work on it, I would be glad to take this task on.

[2021-02-11 17:49] jayehernandez commented on #90
Hey @tilenmiklavic, this hasn't been resolved yet. @Kvaibhav01 mentioned that he won't be able to work on it for now. I'll assign this issue to you! Please let me know if you have any concerns.

[2021-02-13 12:08] yaoberh opened #545 "Toggle pinyin option"
Would be cool to implement a "Show Pinyin" button. I personally find it distracting to have the characters under the pinyin as I don't learn with pinyin but by sound. If it could be a toggle button one could still see the pinyin but it wouldn't be the first thing one sees.

[2021-02-13 15:00] Kvaibhav01 commented on #545
@yaoberh can you elaborate on the issue?

[2021-02-14 13:25] yaoberh commented on #545
It's not an issue. Pretty simple actually. Put a toggle button son pinyin can be shown if necessary but it's not there when you see the word. It's pretty distracting to see the pronunciation for those of us who don't use pinyin to learn chinese.

[2021-02-16 11:19] jayehernandez commented on #545
Hey @yaoberh! I just searched and pinyin seems to be the official romanization for Chinese. We can definitely add a "Hide Romanization" checkbox in the options menu so that it's a catch all for all the different languages. Would you like to work on this, or can I open it up to whoever wants to do so?

[2021-02-16 12:15] yaoberh commented on #545
I know it's the official romanization but nonetheless it's a confusing and unintuitive method of learning chinese. Many people prefer to learn by sound or Bopomofo (Taiwan) as I do myself. It's much better to learn this way as you don't learn by reading romanizations of characters but the characters directly. You also acquire the sounds by listening and not by seeing a letter with a tone which I f

[2021-04-17 01:33] bhavinip commented on #545
Hello! Would it be possible to be assigned to this issue! This extension is really cool, and I would love to contribute. I have taken several years of Chinese and am a Computer Science major! Thank you!

[2021-04-17 01:34] bhavinip commented on #528
Hello! Would it be possible to be assigned to this issue! This extension is really cool, and I would love to contribute.  Thank you!

[2021-04-17 07:29] Kvaibhav01 commented on #528
@bhavinip I think the extension work is currently on hold. Right @jayehernandez?

[2021-04-22 06:56] jayehernandez commented on #545
Hey @bhavinip sorry for the late revert! I just put this repo in vacation mode as I currently don't have the capacity to maintain it for now. I'll let you know when I revert it back. Thank you!

[2021-10-03 07:04] shubhangi013 commented on #90
Is this issue open?

[2022-02-01 15:24] shardon889 opened #582 "Collab for Hindi"
Hey, I would like to work for Hindi or Punjabi if there is an option,  It would be great contributing to this project

[2022-02-05 00:34] RomeroCarranzaEmiliano opened #583 "Add Hungarian 🇭🇺"
## Add Hungarian

Can I start working on it as explained in ["adding a new language"](https://github.com/jayehernandez/letra-extension/blob/master/docs/new_language.md)?

[2022-02-05 13:04] Kvaibhav01 commented on #583
Hey! There is not much activity going on with this project at the moment. From the Readme, you must have seen it's on vacation mode. So until the owner is back to it, there will not be any active involvement.

I hope you understand and thanks for your issue but you can close it for now.

[2022-02-05 13:08] Kvaibhav01 commented on #582
Hey @shardon889, the support for the [Hindi language is already there](https://github.com/jayehernandez/letra-extension#-supported-languages).

As for any other contributions, the project is [currently on vacation mode](https://github.com/jayehernandez/letra-extension#readme) (paused). So until it resumes, we can't say anything.

Thanks for your issue though, you can close it for now. Maybe we can

[2022-10-01 18:57] yunsuklee commented on #1
Hi @jayehernandez! May I contribute adding a Spanish translation? I am a native Spanish speaker, born and raised in Argentina although it may not seem like it

[2022-10-20 16:00] StarNumber12046 opened #619 "make this with programming languages"
**Is your feature request related to a problem? Please describe.**
I would really like to see this ported to programming languages

**Describe the solution you'd like**
Learn something of a programming language everytime you open a new tab

**Describe alternatives you've considered**
IDK, maybe changing project files a bit (I'll try to fork this and do it)

**Additional context**
nothing :/

[2022-10-20 16:24] #400 closed

[2022-10-20 16:25] #582 closed

[2022-10-20 16:26] #388 closed

[2022-10-20 16:26] #359 closed

[2022-10-20 16:27] #153 closed

[2022-10-20 16:27] #90 closed

[2022-10-20 16:28] #308 closed

[2022-10-20 16:30] jayehernandez commented on #619
@StarNumber12046 since this project focuses on foreign languages, that seems like a great fork to work on if you would like! You're free to use this as your base as long as you give credit that you used it as such. If there's nothing else, I'll be closing this issue! :)

[2022-10-20 17:37] sharvarii11 commented on #1
hey, i would like to contribute on hindi translation , can I?

[2022-10-27 08:06] inarie commented on #1
Hi @jayehernandez, can I contribute with portuguese 🇵🇹 ?

[2022-10-27 13:08] Kvaibhav01 commented on #1
Hi @sharvarii11, the Hindi language translation is already done, as you can see in the readme's [supported languages list](https://github.com/jayehernandez/letra-extension#-supported-languages).

@inarie, as per the [latest release notes](https://github.com/jayehernandez/letra-extension/releases/tag/v1.0.15):

[2022-10-27 15:15] #619 closed, assigned to nobody

[2022-10-27 15:16] jayehernandez opened #624 "Sample Issue to Test Auto Close"

[2022-10-27 15:16] #624 closed